obj
Temp
Logs
Library
App
.vscode
Assets/Other
Assets/Network\ Stuff/Photon
Assets/_SNAPS_PrototypingAssets
Assets/TextMesh\ Pro
Assets/FPS/Tutorials
Assets/Bohn\ Studios
Assets/FPS/Art
Assets/ModAssets
Assets/NavMeshComponents
Packages
InitCodeMarker